.menu{
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;

  }
  &__link{
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    font-size: 20px;
    min-height: 80px;
    min-width: 93px;
    padding-top: 28px;
    justify-content: center;
    color: #101010;
  }
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.menu__link:focus{
  background-color: $tomato-light;
  color: #fff;
}
.menu__link:hover{
  background-color: $tomato-light;
  color: #fff;
}
  .pagination{
    max-width: 940px;


    &__list{
      -webkit-box-flex: 1;
      flex-grow: 1;
      list-style: none;
      padding: 0;
      gap: 20px;
      padding-top: 22px;
    }
    &__link{
      text-decoration: none;
      color:#fff;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: flex;
      padding-top: 4px;
      padding-bottom: 10px;

      &:hover{
        color: $tomato-light;
        transform: 0.4s;
      }
    }
  }
