.card{
  border: 1px solid $brown-light;
  margin-left: 15px;
  width: 224px;
  height: 445px;
  
  &__sold{
    border: 1px solid $tomato-light;
  }

}
.card:hover{
  border: 1px solid $tomato-light;
  transform:scale(0.99);
}

