//sliderHeader
.slider {
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  position: relative;
  &__slide1 {
    background: url(../images/picture.png);
  }

  &__slide2 {
    background: url(../images/picture1.png);
  }

  &__slide3 {
    background: url(../images/picture2.png);
  }
}
.content {
  min-width: 500px;
  height: auto;
  padding-top: 10%;
  margin-left: 65%;
  padding-right: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

//sliderGuitar
.sliderGuitar{
  margin-left: 5%;
  margin-right: 5%;

}

.prev,
.next {
  position: absolute;
  top: 40%;
  height: 60px;
  width: 60px;
  z-index: 1;
  cursor: pointer;
}

.prev{
  left: -50px;
  background: url(../images/prev.svg) no-repeat center/cover;
  background-size: 60px 60px;
}
.prev:hover{
  background-image: url(../images/prevactive.svg) ;
  transition: 0.3s;
}
.next:hover{
  background-image: url(../images/nextactive.svg) ;
  transition: 0.3s;
}
.next{
  background: url(../images/next.svg) no-repeat center/cover; 
  background-size: 60px 60px;
  right: -50px;
}
 //sliderPartner
 .partner{
   padding-left:20px ;
   padding-right: 20px;
 }
 .sliderPartner{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 70px;
 }
.part{
  top: -10px;
}





