$main-font-family: 'Montserrat';
$main-font-size:20px;
$main-font-weight: 500;

$tomato-light: #F16A50;
$brown-light:#F8F1EA;
$dot-inactive:#F8F1EAB2;
$dark-dot-inactive:#CAC2BA;
$arrow-inactive:#202020;
$brown-dark:#35312D;